@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.logo{
  position: absolute;
  margin: 23px;
}

.content-wrapper{
  position: relative;
}
.content-wrapper img{
  width: 100%;
  filter: brightness(50%);
  margin: 0;
}




.topnav {
  overflow: hidden;
  width: 100%;
  /* height: 70px; */
  background-color: rgba(255, 0, 0, 0.541);
}

.topnav a  {
  

  display: inline-block;
  float: inline-end;
}


.topnav  a{
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: 30px;
  border-radius: 5px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.topnav  a:hover {
  background-color: rgb(19, 17, 14);
  border-radius: 5px;
}
/* 
.topnav ul li a.active {
  background-color: #eb11cee0;
  color: white;
} */

.topnav .icon {
  display: none;

}


@media screen and (max-width: 924px) {
  .topnav  a{display: none;}
 
  .topnav .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 924px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}






/* box-shadow: 0 0 5px 2px #282a2d;filter: brightness(50%) */


.text-wrapper{
  
  position: absolute;
  color: #f9f9f9;
  font-size :5vw;
  margin-top: -50%;
}
.text-wrapper p{
 font-size: 4vw;
}
.contents{
  margin-top: 20px;
  display: flex;

}
.row{
  width: 50%;
  margin: 20px;
  padding: 10px;
  font-size: 13px;
}
@media screen and (max-width:608px) {
  .row{
    font-size: 2vw;
  }
  
}
.cards{
  display: flex;
  margin: 20px;
}
.card1{
  text-align: center;
}.card{
  text-align: center;
}.card3{
  text-align: center;
}